<?xml version='1.0' encoding='utf-8'?>
<widget id="com.scrisstudio.switchable" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Switchable</name>
    <description>
        Create amount of daily plans, then quickly switch from one to another.
    </description>
    <author email="slaaker@126.com" href="http://scris.top">
        Tianze Ds Qiu
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <platform name="electron">
        <icon src="res/electron/icon.png" />
        <icon src="res/electron/icon@1.5x.png" />
        <icon src="res/electron/icon@2x.png" />
        <icon src="res/electron/icon@4x.png" />
        <icon src="res/electron/icon@2x.png" target="installer" />
        <preference name="ElectronSettingsFilePath" value="res/electron/settings.json" />
    </platform>
</widget>
